@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  line-height: 1.5rem;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", "Josefin Sans", sans-serif;
  font-family: "Times New Roman", Times, serif;
  min-height: 100vh;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* background-color: var(--surface);
  color: var(--primary); */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  transition: color 0.3s ease, background-color 0.3s ease;
}
