/* @import "tailwindcss/preflight";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */
@import "tailwindcss";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 16px;
    line-height: 1.5rem;
    scroll-behavior: smooth;
  }
}

@theme {
  --color-brand-100: #e8edff;
  --color-brand-400: #747bff;
  --color-brand-500: #646cff;
  --color-primary-400: #141618;
  --color-primary-500: #090a0b;
  --color-secondary-500: #f8f8f9;
  --color-secondary-600: #f4f4f6;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-family: "Montserrat", "Josefin Sans", sans-serif;
  min-height: 100vh;
  width: 100%;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  background-color: var(--color-secondary-500);
  color: var(--color-primary-500);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  transition: color 0.3s ease, background-color 0.3s ease;
}
